div {
    border-style: dotted;
    border-width: 5px;
    padding: 1px;
    border-color: red
}

.container {
    border-color: blue;
    
}

body {
    background-image: url('http://telusers.com/image/2013/13/mario-background-8358-hd-wallpapers.png');
        
}

#triforce {
    width: 450px;
    height: auto;
}

